<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Luka\WeatherApp\Api\WeatherRepositoryInterface" type="Task\Weather\Model\WeatherRepository" />
    <preference for="Luka\WeatherApp\Api\Data\WeatherInterface" type="Task\Weather\Model\Weather" />
    <virtualType name="Luka\WeatherApp\Model\ResourceModel\Weather\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">luka_weatherapp_data</argument>
            <argument name="resourceModel" xsi:type="string">Luka\WeatherApp\Model\ResourceModel\Weather</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="luka_weatherapp_weather_listing_data_source" xsi:type="string">Luka\WeatherApp\Model\ResourceModel\Weather\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>

